* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-size: 28px;
}

section {
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* padding: 1rem; */
    flex-wrap: wrap;
}

button {
    border: 2px solid black;
    border-radius: .325rem;
    background-color: white;
    color: black;
    padding: .625rem;
}

.red {
    background-color: #ED3B46;
}

.tan {
    background-color: #fde6b7;
}

.blue {
    background-color: #264978;
}

.black {
    background-color: #000;
}

.rounded-border {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 4rem;
    background-color: white;
    color: black;
    padding: 1rem;
    margin-top: -2.525rem;
    white-space: nowrap;
    height: 40px;
}

.underline {
    height: 2px;
    /* Adjust the height of the underline */
    background-color: black;
    /* Set the background color to black */
    width: 100%;
    /* Make the underline span the full width */
}

.purchase {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-image {
    width: 300px;
}

.checkout-button {
    width: 11rem;
    font-weight: bold;
    margin-bottom: 1px;
}

.money-back-guarantee {
    font-size: xx-small;
    color: black
}

.money-back-guarantee-white {
    font-size: xx-small;
    color: white;
}


.br {
    display: block;
    margin-bottom: 0em;
}

.color-wave {
    width: 110%;
    margin: -10rem;
    margin-bottom: -18rem;
    margin-top: -15rem;

}

/* !!!!!!!!!!!!!!!!!! */
/*   LANDING SECTION  */
/* !!!!!!!!!!!!!!!!!! */
.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: -10px;
    margin-top: -3rem;
}

#logo-main {
    margin: 1rem;
    max-width: 10rem;
    height: auto;
}

.logo {
    width: 100px;
    height: auto;
}

.product-content {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1 rem;
}

.left-half {
    height: 100%;
    width: 50%;
    min-height: 30rem;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;

    border: 2px solid black;
}

.right-half {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 50%;
    margin: 1rem;
    gap: 1rem;
    color: white;
}

/* .right-half h1 {
    text-align: center;
}

.right-half > * {
    margin-left: 1rem;
} */

.price-display {
    display: flex;
    justify-content: space-evenly;
    min-width: 30%;
    align-items: center;
    margin-inline: 1rem;
}

.slash-price {
    position: relative;
    /* Set position to relative */
    display: inline-block;
    color: #fde6b7;
}

.slash-price::before {
    content: '';
    /* Add content for the pseudo-element */
    position: absolute;
    /* Set position to absolute */
    bottom: 50%;
    /* Position from the bottom */
    left: 0;
    /* Position from the left */
    width: 100%;
    /* Set width to fill the container */
    height: 2px;
    /* Set height of the line */
    background-color: #fde6b7;
    /* Set color of the line */
    transform: translateY(50%) rotate(-45deg);
    /* Translate and rotate the line */
}

.arrow-right {
    width: 25px;
    /* Adjust width as needed */
    height: 25px;
    /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;

}

.arrow-right img {
    width: 100%;
    /* Make sure the image takes up the entire space of the div */
    height: auto;
    /* Maintain aspect ratio */
}

.price-after {
    font-size: x-large;
}

.landing-footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1rem;
    box-sizing: border-box;
}

/*!!!!!!!!!!!!!!!!!!!!!*/
/* WE DO COFFEE BETTER */
/*!!!!!!!!!!!!!!!!!!!!!*/
.we-do-coffee-better {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#coffee-better-text-and-image {
    display: flex;
    flex-direction: row-reverse;
}

.side-images {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 0;
    top: -2rem;
    right: -3rem;
    height: 30rem;

}

.coffee-better-image {
    max-width: 220px;
}

#coffee-better-text-div {
    padding-top: 3rem;
    max-width: 26rem;
}

.text-content {
    width: 24rem;
    margin-left: 0rem;
    position: absolute;
}

.ingredient-banner {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    max-width: 100%;
    flex-wrap: wrap;
}

.ingredient-set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon {
    width: 100px;
    height: 100px;
}

/*!!!!!!!!!!!!!!!!!!!!!*/
/*    TESTIMONIALS     */
/*!!!!!!!!!!!!!!!!!!!!!*/


/*!!!!!!!!!!!!!!!!!!!!!*/
/* PRODUCT W/ ROUNDED  */
/*!!!!!!!!!!!!!!!!!!!!!*/
.product-footer {
    margin-block: 3.625rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.product-footer h2 {
    text-align: center;
}


/*!!!!!!!!!!!!!!!!!!!!!*/
/* RADICAL TRANSPARENCY*/
/*!!!!!!!!!!!!!!!!!!!!!*/

.svg-container {
    width: 100%;
    /* Full width of the container */
    display: inline-block;
    /* Adjust as needed */
    line-height: 0;
    /* Remove space below inline elements */
    font-size: 0;
    /* Remove space due to font size */
}

.responsive-svg {
    width: 100%;
    height: auto;
    display: block;
    /* Removes bottom space */
    object-fit: cover;
    /* Cover the container, potentially cropping the SVG */
}

.radical-transparency .text-content {
    margin-inline: auto;
    max-width: 30%;
}

/*!!!!!!!!!!!!!!!!!!!!!*/
/*    HOW IT WORKS     */
/*!!!!!!!!!!!!!!!!!!!!!*/


/*!!!!!!!!!!!!!!!!!!!!!*/
/*   REVIEW CAROUSEL   */
/*!!!!!!!!!!!!!!!!!!!!!*/


/*!!!!!!!!!!!!!!!!!!!!!*/
/* PRODUCT W/ SQUARE   */
/*!!!!!!!!!!!!!!!!!!!!!*/


/* !!!!!!!!!!!!!!!!!!!*/
/*     DISCLAIMER     */
/* !!!!!!!!!!!!!!!!!!!*/
.disclaimer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    gap: 2rem;
}

.disclaimer-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.haz-icon {
    width: 50px;
    height: 50px;
}

.disclaimer-content {
    text-align: center;
    padding-inline: 1.625rem;
}

.discount-input {
    display: flex;
    flex-direction: column;
    gap: .625rem;
}

/* !!!!!!!!!!!!! */
/* MEDIA QUERIES */
/* !!!!!!!!!!!!! */

/* Ensure full width on smaller screens */
/* @media (max-width: 768px) {
    .landing {
        display: block;
    }
    .landing .product-content {
        flex-direction: column;
    }
    .landing .left-half,
    .landing .right-half {
        width: 100%;
    }
    .right-half {
        padding-top: 2rem;
        align-items: center;
    }
    .product-content {
        padding-bottom: 2rem;
    }
    .purchase .with-pad {
        padding-bottom: 6rem;
    }
    .we-do-coffee-better .text-content, 
    .radical-transparency .text-content{
        max-width: 75%;
        margin-right: auto;
    }

    .product-footer h2 {
        font-size: 12px;
        text-align: center;
    }
} */

/* Keep original layout on larger screens */
/* @media (min-width: 769px) {
    .landing {
        display: flex;
        align-items: center;
    }
    .landing .product-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1200px; 
        margin: 0 auto;
    }
    .landing .left-half,
    .landing .right-half {
        flex: 0 0 calc(50% - 20px);
    }
} */